<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>Instant Business</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>fr</string>
	<key>CFBundleLocalizations</key>
	<array>
		<string>fr</string>
	</array>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>UILaunchScreen</key>
	<dict/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>NSUserNotificationsUsageDescription</key>
	<string>Reçois ta citation du jour et quelques citations dans la journée, au rythme que tu choisis.</string>
	<key>GIDClientID</key>
	<string>402139778118-579ska9bnosvu3cs3r39nmp0u5uue3el.apps.googleusercontent.com</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.instantbusiness.app.google</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.402139778118-579ska9bnosvu3cs3r39nmp0u5uue3el</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.instantbusiness.app.deeplink</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>instantbusiness</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
